<div class="container">
  <header>
    <div>
      <app-doc-list-menu></app-doc-list-menu>
      <img src="../../../assets/svg/scroll-icon.svg" />
      {{ docItems?.length }}
      Scroll Items
    </div>
    <div>
      <img src="../../../assets/svg/add-doc-icon.svg" (click)="onAddNewClicked()" />
    </div>
  </header>
  <div class="container content-section">
    <mat-selection-list #docList [multiple]="false" (selectionChange)="onRowClicked($event)">
      <mat-list-option *ngFor="let docItem of docItems" [value]="docItem">
        {{ docItem.title }}
      </mat-list-option>
    </mat-selection-list>
    <!-- <mat-list *ngFor="let docItem of docItems">
      <mat-list-item (click)="onRowClicked(docItem)"> {{ docItem.title }} </mat-list-item>
     </mat-list>
    <div *ngFor="let docItem of docItems">
      <div class="container-fluid doc-item">
        <div class="row" (click)="onRowClicked(docItem)">
          <div class="col-10">
            {{ docItem.title }}
          </div>
          <div class="col-1 text-right">
            <img src="../../../assets/svg/trash-icon.svg" (click)="onDeleteClicked($event, docItem)">
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
