<div class="container">
  <header>ITEMS LIST</header>
  <div class="container content-section">
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
    <p>Main content.</p>
  </div>
</div>
