html,
body {
  height: 100%;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

*, ::after, ::before {
  box-sizing: border-box;
  }

header,
footer {
  flex: 0 1 auto;
}

main .content {
  background-color: red;
}

main {
  flex-direction: row !important;
}

main > div {
  flex-direction: row;
  flex: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

header,
footer {
  padding: 0.5em;
}

.flex-grow-1{
  flex-grow: 1 !important;
}

.h-100 {
  height: 100%!important;
}

.w-100 {
  width: 100%!important;
}

footer {
  background: SLATEGREY;
  color: SNOW;
}

main {
  padding: 0;
}

.content-section {
  padding: 0.5em;
  overflow: scroll;
}

